@import "../node_modules/bootstrap/scss/bootstrap.scss";


#full-window {
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;

  #three-column {
    height: 85vh;
    overflow-y: hidden;

    #left-col {
      height: 60vh;
      overflow-y: auto;
    }
    #mid-col {
      height: 100vh;
      overflow-y: auto;
    }
    #right-col {
      height: 100vh;
      overflow-y: auto;
    }
  }
}
