$green: #1ed760;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

#full-window {
  height: 100vh;
  overflow: hidden;

  #three-column {
    height: 90vh;
    overflow-y: hidden;
    
    .paragrafoHover:hover{
      transform: scale(1.05);
transition: transform 0.3s ease;
cursor: pointer;
    }
    #left-col {
      height: 60vh;
      overflow-y: auto;

    }
    #mid-col {
      height: 90vh;
      overflow-y: auto;
      background: rgb(24, 24, 24);
      background: linear-gradient(
        5deg,
        rgba(24, 24, 24, 1) 49%,
        rgba(88, 88, 88, 1) 100%
      );
      .btn.rounded-circle {
        background-color: #181818;
      }
      #card {
        background: rgb(0, 0, 0);
        background: linear-gradient(
          5deg,
          rgba(0, 0, 0, 1) 39%,
          rgba(88, 88, 88, 1) 100%
        );
      }
      .img-size {
        width: 80px;
        
      }
      .custom-card {
        background-color: black;
        color: #ffffff;
      }
    }
    #right-col {
      height: 90vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  // #player {
  //   background-color: #181818;
  // }
}

.text-white.mb-3 {
  background-color: #353535;
}

.displayNone{

  display: none;
}

#inputCerca{

  background-color: black ;
  border-radius: 25px;
  padding: 10px;
  border: 2px solid white;
  
}
#inputCerca::placeholder{
  color:white
}

.flex-shrink-0.dropdown{

  border-radius: 25px;
  padding: 2px;
}

.right-card {
  font-size: small;
  color: rgb(151, 151, 151);
  .grey-text-small{
    font-size: 10px;

  }
}
//////////////////////////////////////////
.music-player {
  // --primary-color: #ddd;
  // --secondary-color: #999;
  // --green-color: #2d5;
  // --padding: 1em;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  // height: 7rem;
  padding: 1em;
  color: #ddd;
}

.music-player i:hover{
  color: #ddd;
  cursor: pointer;
  
}
.song-bar {
  position: absolute;
  left: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}
.image-container {
  
  flex-shrink: 0;
  width: 4.5em;
  height:4.5em;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-description p {
  margin: 0.2em;
}
.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.title:hover,
.artist:hover {
  text-decoration: underline;
}
.artist{
  color: #999;
}
.icons{
  display: flex;
  gap: 1em;
}
.progress-controller{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #999;
}
.control-buttons{
  display: flex;
  align-items: center;
  gap: 2em;
}
.play-pause{
  display: inline-block;
  
  
  color: #111;
  border-radius: 50%;
}
.play-pause:hover{
  transform: scale(1.1);
  color: #111;
}
.progress-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.progress-bar{
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #ccc4;
}
.progress{
  position: relative;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  background-color: #999;
}
.progress-bar:hover .progress{
  background-color: $green;
}
.progress-bar:hover .progress::after{
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  right: 0;
  border-radius: 50%;
  background-color: #ddd;
  transform: translate(50%, calc(2px - 50%));
}
.other-features{
  position: absolute;
  right: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.volume-bar{
  display: flex;
  align-items: center;
  gap: .7em;
}
.volume-bar .progress-bar{
  width: 6em;
}
// .volume-bar .progress-bar:hover .progress::after{
//   --size: .8em;
// }