@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{

    // overflow: hidden;
    
}

div{

    border: 1px solid black ;
    // height: 230px;
}

#header{

    background-color: red;
}

#brani{

    height: 400px;
    
    
}